*.txt
*.json
*.csv
*.jvp
*.fasta
*.fa
*.fna
*.gb
*.gbk
*.bak*  
*.log
*.svg
*.narrowPeak
*.html
*.xml
*.png
*.vienna
*.pdf
*.pyc
*.wig
*.gff3
*.gtf.gz
*.fna.gz
*.fa
*.gtf
*.docx
*.msdx
*.xlsx
*.zip
*.gtf
*.mas
*.parquet
*.pptx
*.tsv
*.docx
*.pkl
*.jpg
*.nwk
*.bam
*.sam
*.cache
*.bai
*.vcf
\\docs\\*
\\results\\*