*.txt
!requirements.txt
*.json
*.csv
*.jvp
*.fasta
*.fa
*.fna
*.gb
*.gbk
*.bak*  
*.log
*.svg
*.narrowPeak
*.html
*.xml
*.png
*.vienna
*.pdf
*.pyc
*.wig
*.gff3
*.gtf.gz
*.fna.gz
*.fa
*.gtf
*.docx
*.msdx
*.xlsx
*.zip
*.gtf
*.mas
*.parquet
*.pptx
*.tsv
*.docx
*.pkl
*.jpg
*.nwk
*.bam
*.sam
*.cache
*.bai
*.vcf
\\docs\\*
\\results\\*
\\data\\*.fasta
\\data\\hs_pop_seq\\*
\\figures\\*

# Specific data files
data/gene_overlap_positions.csv
data/hs_row.parquet
data/per_gene_alignment_fasta/
data/haplogroups/all_haplogroups.csv
data/haplogroups/haplogroup_markers.xlsx
mitoriboseq_analysis/data/hek_ini/mito_cumsum_table.csv

CODE_REVIEW.md